<div class="container-fluid bg-body-secondary">
  <div class="row">
    <a [routerLink]="['/peliculas']">
      <div class="col-3">
        <div class="card bg-body-secondary m-2 card:active">
          <img src="https://images.pexels.com/photos/2398354/pexels-photo-2398354.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img" alt="opcion-peliculas">
          <div class="card-img-overlay">
            <h5 class="card-title text-white">Top de Peliculas</h5>
            <p class="card-text text-white">Para conocer el top 50 de peliculas por IMDB</p>
          </div>
        </div>
      </div>
    </a>

  </div>
</div>
